include README.md
include LICENSE
include pyproject.toml
include lsp_server.py
recursive-include model *.py
recursive-include verifier *.py
recursive-include backend *.py
recursive-include dataset *.py
recursive-include benchmark *.py
recursive-include hooks *
include .pre-commit-hooks.yaml
recursive-exclude dataset/generated *
prune dataset/generated
